*{
    margin: 0;
}
.raleway-fonts{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-fonts{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
/* nav styles */
.banner{
    background-image: url('Assets/Hero-bg.png');
    
}
.log{
    display: flex;
    justify-content: space-between;
    
}

.nav-title{
       font-weight: bolder;
       font-size: 34px;
       color: #4E47FF;
       margin: 50px 150px ;
}
.nav-button{
    background-color: #4E47FF;
    font-size: 16px;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 10px;
    width: 130px;
    height: 46px;
    border: none;
    margin: 50px 150px ;
}
button:hover{
      font-weight: bold;
}
/*banner styles*/

.banner-text{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    margin: 130px 260px 35px;
    color: #252432;
}
.banner-button{
    background-color: #4E47FF;
    font-size: 16px;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 10px;
    width: 170px;
    height: 46px;
    border: none;
    margin: 35px 600px 150px 600px;
}

/* action styles */
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub-action{
    /* align-items: center;*/
    width: 500px;
    height: 200px;
    margin: 100px 50px 100px 140px;
}
.action-header{
    font-size: 40px;
    color: #252432;
}
.action-para{
    font-size: 24px;
    color: #252432;
}
.action-button{
    background-color: #4E47FF;
    font-size: 16px;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 10px;
    width: 220px;
    height: 46px;
    border: none;

}
.action-image{
    width: 400px;
    height: 320px;
    border-radius: 50px;
    margin: 100px 150px 100px 50px;
}
/* productive user */
.user-header{
    background-color: #C9C7FF;
    border-radius: 24px;
    margin: 50px 150px; 
}
.user-head{
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    color: #252432;

}
.user-child{
    display: flex;
    gap: 90px;
    justify-content: center;
    margin: 30px 0px;
   
  color: #4E47FF;
  align-items: center;
}
.user{
     font-style: bold;
  font-size: 60px;

}
.user-para{
    font-size: 15px;
    color: #000000;
    margin-bottom: 20px;
}
/* form styles */
.feedback{
    background-color: #FFFFFF;
    display: flex;
    padding: 70px 150px;
    align-items: center;
    justify-content: space-between;
}
.feedback-text{
    font-size: 90px;
    width: 500px;
    padding-left: 50px; 
    
}
.feedback-form{
    width: 100px;
    padding-right: 390px;
}
form button{
     background-color: #4E47FF;
    font-size: 16px;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 10px;
    width: 390px;
    height: 46px;
    border: none;
}
input[type="text"]{
    width: 380px;
    height: 50px;
    margin: 10px 0px;
}
textarea{
    width: 380px;
    height: 100px;
    margin: 10px 0px;
}
/* footer styles */
footer h3{
     font-weight: bolder;
       font-size: 74px;
       color: #4E47FF;
       text-align: center;
}
footer p{
    color: #8987A1;
    font-size: 15px;
    text-align: center;
}
li a{
    text-decoration: none;
    margin-bottom: 10px;
    
}
.footer-styles{
    
     display: flex;
    padding: 15px 560px;
    gap: 50px;
    margin-top: 50px 0px;
    list-style: none;

}